
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{

    /* colors */
    --primary-color: hsl(322, 100%, 66%);
    --seconday-color: hsl(321, 100%, 78%);
    --light-red:rgb(255, 66, 66);

    --font-color: rgb(0, 37, 46);
    --text-color: rgb(245, 250, 255);
    --black-color: #111;
    --white-color: #fff;

    /* font and typography */
    --heading-font: 'Poppins', sans-serif;
    --text-link-font: 'Open Sans', sans-serif;
    
    --h1-font-size: 48px;
    --h2-font-size: 40px;
    --h3-font-size: 24px;

    --big-text-font-size: 23px;
    --medium-text-font-size: 20px;
    --regular-text-font-size: 16px;
    --small-text-font-size: 14px;

    /* font weight */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

}

@media screen and (max-width: 550px){
    :root{
        --h1-font-size: 24px;
        --h2-font-size: 40px;
        --h3-font-size: 24px;
        
        --big-text-font-size: 23px;
        --medium-text-font-size: 14px;
        --regular-text-font-size: 16px;
        --small-text-font-size: 14px;
    }
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* utilities */
.text-center{
    text-align: center;
}

.m-t-191{
    margin-top: 191px;
}

.m-b-47{
    margin-bottom: 47px;
}
.m-b-54{
    margin-bottom: 54px;
}

.m-b-118{
    margin-bottom: 118px;
}

.m-l-r-auto{
    margin-left: auto;
    margin-right: auto;
}

/* button */
.btn-primary{
    display: inline-block;
    font-family: var(--text-link-font);
    color: var(--white-color);
    font-size: 25px;
    font-weight: 700;
    padding: 25px 100px;
    border: var(--primary-color) solid 1px;
    background: var(--primary-color);
    border-radius: 50px;
    transition: all 0.2s ease;
}

.btn-primary:hover{
    border: var(--seconday-color) solid 1px;
    background: var(--seconday-color);
}

.btn-secondary{
    display: inline-block;
    font-family: var(--text-link-font);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 25px;
    border: var(--primary-color) solid 1px;
    border-radius: 30px;
    transition: all 0.2s ease;
}

.btn-secondary:hover{
    color: var(--seconday-color);
    border: var(--seconday-color) solid 1px;
}

/* header start */
.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 46px 58px 60px;
}

.header .nav .logo img{
    max-width: 180px;
    max-height: 30px;
}

/* hero start */
.hero__container{
    max-width: 1130px;
    max-width: 1047px;
    padding: 0 15px;
}

.hero__heading{
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: var(--h1-font-size);
    font-weight: 700;
    text-transform: capitalize;
}

.hero__paragraph{
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    font-size: var(--medium-text-font-size);
    font-weight: 400;
    line-height: 1.5;
    max-width: 593px;
}

@media (max-width: 1366px) {
    
    /* utilities */
    .m-lg-t-70{
        margin-top: 70px;
    }
}

@media (max-width: 550px) {

    /* utilities */     
    .m-sm-b-34{
        margin-bottom: 34px;
    }
    
    .m-sm-b-50{
        margin-bottom: 50px;
    }
    
    .m-sm-t-84{
        margin-top: 84px;
    }
    
    .m-sm-t-50{
        margin-top: 50px;
    }

    .btn-secondary{
        padding: 8px 18px;
    }

    /* button */
    .btn-primary{
        font-size: 12px;
        padding: 12px 34px;
    }

    .btn-secondary{
        font-size: 10px;
        padding: 5px 18px;
    }


    /* header start */
    .header .nav{
        padding: 28px 24px;
    }

    .header .nav .logo img{
        max-width: 95px;
    }

    /* hero start */
    .hero .hero__container{
        padding: 0 42px;
    }

}
